[submodule "versions/tiempos"]
	path = versions/tiempos
	url = https://github.com/eriptic/uoscore-uedhoc.git
[submodule "versions/uoscore-uedhoc"]
	path = versions/uoscore-uedhoc
	url = https://github.com/eriptic/uoscore-uedhoc.git
